body {
  color: #222;
  background: #fff;
}
body.dark-theme {
  color: #eee;
  background: #121212;
}

main {
  background-color: #b4b4b4;
  
}
.contents {
  background-color: lightblue;
  
}

body {
  display: grid;
  /* grid-gap: 1em; */
  grid-template-columns: 3fr 7fr;
  height: fit-content;
  width: fit-content;
}