body {
  color: #222;
  background: #fff;
}
body.dark-theme {
  color: #eee;
  background: #121212;
}

main {
  background-color: #b4b4b4;
  display: grid;
}

.contents {
  background-color: lightblue;
  padding: 8px;
}

body.dark-theme .contents {
  background-color: darkblue;
}

body.dark-theme path {
  stroke: white;
}

body {
  display: grid;
  /* grid-gap: 1em; */
  grid-template-columns: 3fr 7fr;
  margin: 0;
  overflow: hidden;
}
main {
  margin: 0;
}

.top-bar {  
  grid-column-start: 1;
  grid-column-end: 3;
  
  /* height: 32px; */
}
/* .container {
  display: flex; 
} */

.drag-bar {
  display: flex;
  float: left;
  /* background-color: red; */
  width: -webkit-fill-available;
  align-items: center;
  padding-left: 8px;
  user-select: none;
  -webkit-user-select: none;
  -webkit-app-region: drag;
  height: 34px;
  width: 100%;
}

.minimize-button {
  padding: 8px;
}
.maximize-button {
  padding: 8px;
}

.close-button {
  padding: 8px;  
}
.container {
  display: flex;
}
.window-buttons {
  display: flex;
  float: right;
  position: fixed;
  top: 1em;
  right: 1em;
  -webkit-app-region: no-drag;
  z-index: 99;
  margin-right: -16px;
  margin-top: -16px;
}

.window-button {
  padding-left: 16px;
  padding-right: 16px;
}
.window-button:hover {
  animation: window-button-hover 0.1s forwards;
}
.close-button:hover {
  animation: red-window-button-hover 0.1s forwards;
}
.close-button:hover polygon {
  fill: white;
}

polygon:hover {
  fill: white;
}

#settings {
  margin-top: 8px;
}

.hide {
  display: none;
}

.settings-contents {
  display: block;
}








/* KEYFRAMES */

@keyframes window-button-hover{
  from {
    background-color: white;
  }
  to {
    background-color: rgb(223, 223, 223);
  }  
}

@keyframes red-window-button-hover {
  from {
    background-color: white;
  }
  to {
    background-color: rgb(255, 0, 0);
    
  }  
}